.App {
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
}

.App h1 {
  margin: 0;
  font-size: 24px;
  color: #1f1f1f;
}

.App .blurb {
  font-size: 16px;
  line-height: 24px;
  color: #404040;
}

.App .dropdown {
  margin: 10px 0;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  color: #404040;
}

@media (min-width: 768px) {
  .App {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .App {
    max-width: 1024px;
  }
}